* {
    background-image: url(background-img.png);
    text-align: center;
}

h1 {
    color: rgb(12, 223, 12);
}

img {
    width: 400px;
    display: block;
    margin: auto;
}

div {
    text-align: center;
}

#thirdDiv {
    width: 500px;
    height: 600px;
    background-color: blue;
    padding: 50px;
    border: 5px thin red;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}